.favorites-brands {
  width: 100%;
  height: 225px;
  margin-top: 10px;
  .favorites-brands-border {
    width: 80%;
    height: 100%;
    border: 1px solid lightgray;
    margin: 5px auto;
    border-radius: 15px;
    .title {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      h1 {
        font-family: var(--font-family);
        font-size: 25px;
      }
    }
    .brands {
      padding-top: 20px;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        border-top: none;
        border-bottom: none;
        border-right: none;
      }

      .swiper-slide img {
        display: block;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
