.wonderful {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wonderful-center {
    width: 80%;
    height: 360px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #db304e;
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item-first {
        width: 100%;
        height: 100%;
        .swiper-slide-item-wonderful {
          width: 88px;
          height: 88px;
          display: block;
          margin: 20px auto;
        }
        .clock {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;
          column-gap: 5px;
          .hours,
          .minutes,
          .seconds {
            width: 30px;
            height: 30px;
            background-color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--number);
            border-radius: 5px;
          }
          span {
            color: whitesmoke;
          }
        }
        .swiper-slide-item-percentage {
          width: 80px;
          height: 80px;
          display: block;
          margin: 10px auto;
        }
        a {
          font-family: var(--font-family);
          text-decoration: none;
          color: whitesmoke;
          font-size: 14px;
        }
      }
      .swiper-slider-item-wonderful {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 0 16px 16px 0;
        img {
          width: 132px;
          height: 132px;
          display: block;
          margin: 20px auto;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-family: var(--font-family);
          font-size: 12px;
          line-height: 25px;
          margin-bottom: 10px;
        }
        .price {
          width: 100%;
          height: 30px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          padding: 0 10px;
          box-sizing: border-box;
          align-items: center;
          .real {
            font-family: var(--number);
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            img {
              width: 16px;
              height: 16px;
            }
          }
          .discount {
            width: 25px;
            height: 20px;
            font-family: var(--number);
            font-size: 12px;
            color: whitesmoke;
            display: inline-block;
            padding: 2px 5px;
            background-color: #db304e;
            border-radius: 20px;
          }
        }
        .last-price {
          font-family: var(--number);
          font-size: 13px;
          color: rgb(174, 167, 167);
          text-decoration: line-through;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.active_wonderful {
  background-color: #db304e !important;
  border-radius: 0 16px 16px 0 !important;
}
